<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)), url(https://i.auto-bild.de/ir_img/6/8/7/1/4/5/LeFlaSys-auf-Wiesel-2-474x316-00cb49aff8ac4562.jpg);">
  <div class="container">
    <h1>Find your Tank</h1>
    <p>Pimp your movie: Tanks for rent across the globe</p>
    <a class="btn btn-flat" href="#">Find Tank</a>
  </div>
</div>
