.card-tank {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2px;
  width: 600px;
  height: 400px;
}

.card-tank > img {
  padding: 16px;
  height: 320px;
  width: 100%;
  object-fit: cover;
}

.card-tank h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-tank p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-tank .card-tank-infos {
  padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   position: relative;
}

.text-align-center {
  text-align: center;
}
// .card-tank-infos .card-tank-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
