.card-tank {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2px;
  width: 400px;
  height: 300px;
}

.card-tank > img {
  padding: 16px;
  height: 80%;
  width: 100%;
  object-fit: cover;
}

.card-tank h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-tank p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-tank .card-tank-infos {
  padding: 0 16px;
}

.card-tank-headers {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.card-tank-values {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

// .card-tank-infos .card-tank-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }
