.card-tank {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 2px;
  width: 400px;
  height: 300px;
}

.card-tank > img {
  padding: 16px;
  height: 80%;
  width: 100%;
 // object-fit: cover;
}

.card-tank h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-tank p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-tank .card-tank-infos {
  padding: 0 16px;
}

.card-tank-headers {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}

.card-tank-values {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
}

// .card-tank-infos .card-tank-user {
//   position: absolute;
//   right: 16px;
//   top: -20px;
//   width: 40px;
// }

@-webkit-keyframes shake {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake:hover {
    -webkit-animation-name: shake;
    -webkit-animation-duration: 0.3s;
    -webkit-transform-origin:75% 75%;
    -webkit-animation-iteration-count: infinite;
}
.shake {
    display:inline-block
}
